.App {
  text-align: center;
  display: block;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: 48px;
  margin-top: 20px;
}

.App-header div{
  margin: 10px;
}

.App-header div img{
  border-radius: 60%;
  width: 100px;
  height: 100px;
}